/* Adaptable Responsivo */
@media screen and (max-width:767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width:700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}

/* BARRA */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
    --bs-navbar-hover-color: (#ff9494 0.8);
}

.imagen-redonda {
    border-radius: 40%;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
    font-family: "Buda";
    width: 700px;
}

.navbar-bar {
    width: 400px;
    align-items: center;
}


.btn-outline-success {
    --bs-btn-hover-bg: #911119;
    --bs-btn-color: #911119;
    --bs-btn-border-color: #911119;
    --bs-btn-hover-border-color: black;
    --bs-border-width: 2px;
    font-weight: bold;
    --bs-btn-active-bg: #1b1b32;
    --bs-btn-active-border-color: #911119;
}

.form-control {
    --bs-border-color: #1b1b32;
    box-shadow:
}

/* .nav-link {
    position: relative !important;
    left: 40px !important
    NO CAMBIA
} */

.nav-item {
    font-family: "Gudea";
}

.collapse {
    position: relative;
    left: 40px;
}




/* ESTILOS GENERALES  */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: "Rubik Dirt", cursive;
}

.hablemos {
    transform: rotate(-45deg);
}

.seccion-texto {
    font-size: 1.2rem;
    font-family: Buda;
}



h1 {
    font-size: 2.5rem;
    font-family: "Frijole", cursive;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

.hero-imagen-desarollador {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid #8080804d;
    border-color: #551919;
    border-radius: 15% !important;
}


.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;

}




.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}


.seccion-clara {
    color: black;
    background-color: white;
}







/* Sobre Mi */

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    display: inline-block;
    box-sizing: border-box;
    /*content-box: va sumando tamano y no se adapta, viene por defecto */
    max-width: 1100px;
    height: 40vh;
    /* width: 50vw;
    height: 50vh; */
    padding: 25px 10px;
    margin: 100px;
    text-align: center;
    line-height: 2;
    font-size: 2em;
    /*no cambia */
    font-weight: 600;
    font-family: 'Buda';
    border: 2px dotted gold;
    /* outline es como el border pero no mueve espacio */
    box-shadow: 0px 0px 15px 5px #5e5eb4;
    position: relative;
    z-index: 100;
    opacity: 1;
    /* margin-left: 300px */
}


/* 
.seccion-titulo esta en generales */



/* EXPERIENCIA */

.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    border-color: #551919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 0px 0px 3px #911119, 0px 0px 3px #911119;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

.badge-color {
    color: #610a0a;
}

.text-bg-danger {
    color: #fff !important;
    background-color: #911119 !important;
}




/* PROYECTOS */

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}


.btn-info {
    color: #580409;
    background-color: #fcc6c6 !important;
    border-color: #911119;
    font-weight: bold;
    border: solid 3px;
    font-style: italic;
}

.ver-mas-proyectos {
    position: relative;
    top: -10px
}

/* ARTICULOS */

.articulos {
    min-height: 500px;
    padding: 30px;
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header {
    font-weight: bold;
}


/* ARTICULOS */

.articulos {
    min-height: 500px;
    padding: 30px;

}

.titulo-articulos {
    position: relative;
    top: 20px
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
    border-color: #1b1b32;
}

.articulos .card-header {
    font-weight: bold;
    /* border-color: #4f4fa5; */
}

/* TESTIMONIOS*/

.testimonios {
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
    font-weight: bold;
    text-align: center;
}

.testimonio-info p {
    margin-bottom: 0;
}

.testimonio-footer .cliente {
    font-size: 1.2rem;
}

.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
}

/* CONTACTO*/

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(73, 12, 33);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    background-color: #1b1b32;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
    color: black;
}

/* Pie de pagina (footer) */

footer {
    min-height: 350px;
}

.footer-logo {
    color: white;
    background-color: white;
    border-color: white;
    border-radius: 30%;
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
    color: white !important;
    background-color: #693939;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white !important;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white !important;
    background-color: #615151 !important;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }

    .testimonio-texto {
        font-size: 18px;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}